<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yay, Web Components</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/style.css" rel="stylesheet">
		<link href="https://samsunginter.net/fonts/SamsungOne/fonts.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

		<script>hljs.initHighlightingOnLoad();</script>

        <style>
            html, body {
                min-height: 100vh;
                min-width: 100vw;
				margin: 0;
				font-family: 'Samsung One', Helvetica, Arial, sans-serif;
				font-weight: 200;
			}

			h1 {
				font-weight: 200;
				color: black;
			}

			h2 {
				font-size: 0.8em;
				font-weight: 200;
			}

			grid-slide {
				background-color: #ccc;
				background-image: url('images/pattern.svg');
				color: #333;
				flex-direction: column;
				font-size: 3rem;
				background-size: cover;
				background-position: center center;
			}

			@media screen and (max-width: 100rem) {
				grid-slides-controller {
					--padding: 0.4rem;
				}
				grid-slide {
					font-size:2rem;
				}
			}

			@media screen and (max-width: 50rem) {
				grid-slides-controller {
					--padding: 0.2rem;
				}
				grid-slide {
					font-size:1rem;
				}
			}

			grid-slide code {
				font-size: 0.8em;
			}

			h1.hero {
				font-size: 5em;
				text-align: center;
				align-self: center;
			}

			.caption {
				grid-area: 1/content-inner;
				align-self: flex-end;
				background: rgba(0,0,0,0.8);
				margin: 0;
			}

			.jail {
				font-size: 1em;
				line-height: 1em;
				position: relative;
			}

			.jail:after {
				content: '🔒';
				font-size: 5em;
				opacity: 0.8;
				position: absolute;
				left:50%;
				top:50%;
				transform: translate(-50%, -50%);
			}

			.noodle {
				display: inline-block;
				position: absolute;
				right: 40%;
				top: 20%;
				font-weight: 800;
				font-family: monospace;
				font-size: 4rem;
				color: transparent;
				text-shadow: 0 0 0.2rem yellow, 0 0 0.1rem yellow, 0 0 red;
			}
        </style>
        <script src="https://cdn.rawgit.com/webcomponents/webcomponentsjs/edf84e6e/webcomponents-sd-ce.js"></script>
        <script src="../scripts/HTMLElementPlus.js"></script>
        <script src="../scripts/main.js"></script>
		<script src="../scripts/defaults.js"></script>
		<script src="../scripts/web-components.js"></script>
		<script>
			class MyElement extends HTMLElement {
				constructor () {
					super();

					this.attachShadow({mode: 'open'});
					this.shadowRoot.innerHTML = '<style></style><h1>My Element is Great!</h1><slot></slot>';
				}
			}

			customElements.define('my-element', MyElement);

			const template = document.createElement('template');
			template.innerHTML = html`
				<style>
					:host {
						border: 1px solid black;
					}
					:host > h1 {
						color: green;
					}
					::slotted(p) {
						color: red;
					}
				</style>
				<h1>My Element is Great!</h1><slot></slot>
			`;

			class MyElement2 extends HTMLElement {
				constructor () {
					super();

					this.attachShadow({mode: 'open'});
					this.shadowRoot.appendChild(document.importNode(template.content, true));
				}
			}


			customElements.define('my-element-two', MyElement2);

		</script>
    </head>
    <body>
        <grid-slides-controller>

			<grid-slide el-by-el>
				<section style="justify-content:flex-end;">
					<h1 style="text-align: center; margin: auto;font-size: calc(8vw + 0.2rem);">&lt;web-components&gt;</h1>
					<h2>@samsunginternet<br />@lady_ada_king</h2>
				</section>
				<img src="../webvr/images/StatCounter-browser-GB-monthly-201606-201706.png" style="object-fit: contain; background: white;" />
			</grid-slide>

            <grid-notes>
				Hi I am Ada from Samsung, i'm here to talk to you about Web Components

				<p>My goals today are 3 fold: <ul>
					<li>Help you to understand web components</li>
					<li>Get you to start using Web Components</li>
					<li>Introduce a new way of thinking about bulding Web Apps</li>
				</ul></p>

				<html-encode><template>
					<p>lolol</p>
					<hello-world example>lolol</hello-world>
				</template></html-encode>
			
				<html-encode lang="javascript"><template><script>
					console.log('hi')
					document.getElementById('lol');
				</script></template></html-encode>

			</grid-notes>

			<grid-slide el-by-el>
				<h1>What are Web Components?</h1>
				<section>
					<h1>Custom Elements</h1>
					<h1 style="text-align:center;margin: 0;"><html-encode><script type="text/html">
						<my-car style="homer"></my-car>
					</script></html-encode></h1>
					<img src="images/mycar.jpg">
				</section>
				<section>
					<h1 style="font-size: 2em;
					text-shadow: -0.15em 0.15em yellow, 0em 0.15em magenta, 0.15em -0.15em cyan; margin: auto;font-weight: 800; mix-blend-mode: multiply;">Shadow DOM</h1>
				</section>
				<section>
					<h1>Scoped css</h1>
					<html-encode lang="css" class="jail"><template><style>
						div {
							background-color: blue;
							font-family: papyrus;
						}
						span {
							font-family: comic-sans;
							color: pink;
						}
					</style></template></html-encode>
				</section>
				<section>
					<h1>JS Callbacks</h1>
					<img src="images/shoe-phone.jpg">
				</section>
			</grid-slide>
			<grid-notes>
				<p>Web Components are a way of encapsulating logic and style into components you can author with HTML.</p>
				<p>You can tell them apart from normal HTML elements because they have a dash in the name.</p>
				<p>They provide 3 useful powers for seperating your concerns.</p>
				<ul>
					<li>Custom Elements</li>
					<li>Shadow DOM for encapsulating HTML</li>
					<li>Scoped CSS for encapsulating CSS</li>
					<li>Callbacks for element life cycle to control JS</li>
				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<h1>Advantages of Web Component</h1>
				<img src="images/lego.png" />
				<h1 class="hero">&lt;html&gt;</h1>
				<section style="background: url('images/soup.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 70% top;">
					<span class="noodle" style="transform: translate(0, 45vh) rotate(10deg) ;">&lt;div&gt;</span>
					<span class="noodle" style="transform: translate(20vw, 5vh) rotate(-10deg) ;">&lt;div&gt;</span>
					<span class="noodle" style="transform: translate(-5vw, 5vh) rotate(40deg) ;">&lt;div&gt;</span>
					<span class="noodle" style="transform: translate(20vw, 25vh) rotate(-30deg) ;">&lt;div&gt;</span>
				</section>
				<h1 class="hero">Emmet Demo</h1>
				<h1 class="hero" style="font-size: 3em; line-height:30vh; margin:0;">Webcomponents<br/>❤<br/>CSS Grid</h1>
				<img src="images/Layouts.svg" alt="Simpler layouts enabled with Web Components.">
			</grid-slide>
			<grid-notes>
				<ul>
					<li>Easily reusable bites of software</li>
					<li>Hide implementation complexity, uniform interface.</li>

					<li>Integrate into any website</li>
					<li>Frontend Framework or backend it's agnostic. Just HTML.</li>
					<li>Reuse HTML authoring tools</li>

					<li>CSS Grid, no DIV soup</li>
					<li>When your HTML makes sense you can do cool stuff with it.</li>
					<li>Emmet syntax. (grid-slides>h1)+(grid-notes>ul>li*3)</li>
				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<h1>Building components</h1>

				<html-encode lang="javascript"><template><script>
					class MyElement extends HTMLElement {
						constructor () {
							super();

							// Do some stuff!!
						}
					}

					customElements.define('my-element', MyElement);
				</script></template></html-encode>

				<html-encode lang="javascript"><template><script>
					class MyElement extends HTMLElement {
						constructor () {
							super();

							this.attachShadow({mode: 'open'});
							this.shadowRoot.innerHTML =
								'<h1>My Element is Great!</h1><slot></slot>';
						}
					}
				</script></template></html-encode>
				<section>
					<h1>Live Demo of:
					<html-encode><template>
							<my-element><p>Hello World</p></my-element>
					</template></html-encode></h1>

					<my-element><p>Hello World</p></my-element>
					
					<h2>Note: Style scoping not possible with polyfill.</h2>
				</section>
				<html-encode lang="javascript"><template><script>
					const template = document.createElement('template');
					template.innerHTML =
						'<h1>My Element is Great!</h1><slot></slot>';

					class MyElement extends HTMLElement {
						constructor () {
							super();

							this.attachShadow({mode: 'open'});
							this.shadowRoot.appendChild(document.importNode(template.content, true));
						}
					}
				</script></template></html-encode>
				<html-encode lang="javascript"><template><script>
					const template = document.createElement('template');
					template.innerHTML = html`
						<style>
							:host {
								border: 1px solid black;
							}
							:host > h1 {
								color: green;
							}
							::slotted(p) {
								color: red;
							}
						</style>
						<h1>My Element is Great!</h1><slot></slot>`;

						// MyElement etc
				</script></template></html-encode>
				<section>
					<h1>Live Demo of:
					<html-encode><template>
							<my-element><p>Hello World</p></my-element>
					</template></html-encode></h1>
					<my-element-two><p>Hello World</p></my-element-two>
				</section>
				<html-encode lang="javascript" style="bottom:0; font-size: 0.7em;"><template><script>
					class MyElement extends HTMLElement {
						constructor () {
							super();
							this.attachShadow({mode: 'open'});
							this.shadowRoot.appendChild(document.importNode(template.content, true));
						}

						// Array of attributes to listen for, all others are ignored.
						static get observedAttributes() {
							return ['for'];
						}

						// Gets called for each attribute on start and change
						attributeChangedCallback(attr, oldValue, newValue) {
							this[attr] = newValue;
						}

						disconnectedCallback() {
							// Clean up component.
						}
					}
				</script></template></html-encode>
			</grid-slide>
			<grid-notes>
				<ul>
					<li>Make a class</li>
					<li>Register component</li>
					<li>Add some Shadow DOM</li>
					<li>Why mode 'open'? closed prevents it from being accessed from external javascript no real need for this. No additional encapsulation.</li>
					<li>Use template elements</li>
					<li>Show html`` trick</li>
					<li>Add some scoped styles</li>
					<li>React to attribute changes</li>
				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<h1>Using the Polyfill</h1>
				<img src="images/support.png" />
				<img src="images/polyfill.jpg" />
				<section>
					<h1>https://github.com/webcomponents/webcomponentsjs</h1>
					<img src="images/polyfill.png" />
				</section>
				<section>
					<ul style="font-size:1.5em;">
						<li>Shadow DOM</li>
						<li>Custom Elements</li>
						<li>Scoped CSS (Needs some user work)</li>
					</ul>
				</section>
				<section>
					<h1>Handling the CSS Scoping</h1>
					<html-encode lang="javascript"><template><script>
						// TWEAK THE CSS IN THE TEMPLATE USING THE POLYFILL
						if (window.ShadyCSS) window.ShadyCSS.prepareTemplate(template, 'my-element');

						class MyElement extends HTMLElement {
							constructor () {
								super();
								this.attachShadow({mode: 'open'});

								this.shadowRoot.appendChild(document.importNode(template.content, true));
							}
						}
					</script></template></html-encode>
				</section>
				<section>
					<h1>Completed example component.</h1>
					<h2>by  Monica Dinculescu (@notwaldorf)</h2>
					<h1 style="font-size:1.3em; margin:auto;">https://goo.gl/m5gdrq</h1>
				</section>
			</grid-slide>
			<grid-notes>
				<ul>
					<li>Find the script from the site</li>
					<li>I use the custom elements and shady dom polyfill</li>
					<li>Shady DOM simulates encapsulation by writing element specific CSS</li>
					<li>Shady DOM stops CSS escapting but does not stop external powers affecting it.</li>
				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<section>
					<h1>Case study, VJ-OTG</h1>
					<h1 style="font-size: 1.4em; margin: auto;">https://samsunginter.net/vj-otg/</h1>
					<img src="images/vj-otg.png">
				</section>
				<section>
					<h1>Case study, VJ-OTG</h1>
					<p style="font-style:italic;">"VJ-OTG, is a Web App to use WebAudio, WebMidi &amp; WebGL to produce visualisations for night clubs."</p>
				</section>
				<section>
					<h1>The Challenge:</h1>
					<ul>
						<li>Connect together very different pieces of technology</li>
						<li>Be highly configurable in how they interact</li>
						<li>Be simple to configure.</li>
					</ul>
				</section>
				<img src="images/vj-otg.png">
				<html-encode>
					<template>
						<midi-controller>
							<midi-pad></midi-pad>
							<midi-cc></midi-cc>
						</midi-controller>

						<vj-otg-visuals>
							<vj-otg-assets>
								<video id="minnie" src="./assets/minnie-512.webm" width="512" height="512" autoplay="true" loop="true"></video>
							</vj-otg-assets>
							<vj-otg-static-texture source-name="minnie"></vj-otg-static-texture>
						</vj-otg-visuals>
					</template>
				</html-encode>
			</grid-slide>
			<grid-notes>
				<ul>
					<li>App to make visualisations for parties.</li>
					<li>HTML provides a single point where we can describe the relationships between the technology.</li>
					<li>By providing a common language these disparate technology can communicate without needing to know how they work.</li>
					
					<li>Components for WebGL Visuals</li>
					<li>Components for interfacing with Web Midi</li>

					<li>Coming up with these elements was messy, they did not leap fully grown from my forehead.</li>
					<li>First we built demos</li>
					<li>Then we encapsulated chunks of functionality in components</li>
					<li>We then interacted with them with further logic.</li>
					<li>Which we then collected into compoents</li>

					<li>If components do too much or grow too large the refactor them into smaller components.</li>

					<li>In the case of the visual components, I refactored it twice.</li>
					<li>Too much configuration on the elements so I made each one seperate</li>
					<li>All of the children only configure the parent, they do very little themselves.</li>

					<li>Notice both sets of components have a wrapper component, this is the main element it maintains any group state sets up any shared resources.</li>

					<li>The midi-controller sets up the WebMidi listener and fires events on the respective midi-pad or midi-cc</li>
					<li>The individual components provide the dummy elements and let the parent know if they are clicked.</li>

					<li>The viusaliser has a canvas and renderer, the elements inside are used to write the shader which is run to generate the graphics.</li>
					<li>The children nodes don't actually have any DOM but the element was too complex to configure as a single element</li>
					<li>Each element represents small snippets of GLSL and dynamically update the parent if they get changed.</li>

					<li>Communicate with each other via messaging</li>
					<li>Helper class HTMLElementPlus</li>
				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<h1>Building a whole app using just components</h1>
				<img src="images/Step1.svg" alt="">
				<img src="images/Step2.svg" alt="">
				<h1>HTML holds the initial app state.</h1>
				<h1>Static or rendered on the server.</h1>
				<html-encode lang="javascript"><template><script>
					// Reading data from element
					el.foo;

					// Updating data in element
					el.setAttribute('foo', 'bar');

					// Announcing somthing has changed
					this.dispatchEvent(new CustomEvent('myevent', {
						detail: {foo: 'bar'},
						bubbles: true
					}));

					// Listening for changes
					el.addEventListener('myevent', function (e) {
						console.log(e.detail.foo);
					});
				</script></template></html-encode>

				<html-encode><template>
					<hello-world listen-to="#someEl"></hello-world>
				</template></html-encode>

				<img src="images/Seperation of Concerns.svg" alt="Old school seperation of concerns html/css/js">
				<img src="images/Seperation of Concerns Two.svg" alt="Modern speration of concerns is component based.">

			</grid-slide>
			<grid-notes>
				<ul>
					<li>Traditional View point, HTML as render target.</li>
					<li>HTML is currently just a render target, probably has some minimal bootstrap script maybe some serve side rendered HTML. Which gets rehydrated with JavaScript. Web components allow us to move large chunks of our JS and Style into components. The HTML then becomes the configuration layer.

					Seperation of concerns graph changes. From JS/CSS/HTML to Component/Component/Component each with their own JS/CSS &amp; HTML.

					If your CMS has the capability of authoring HTML it becomes a lot more powerful.</li>
					<li>Use the HTML to set the initial state of the app.</li>
					<li>Elements signal changes by firing events.</li>
					<li>Elements listen for changes using addEventListener</li>
					<li>Elements are updated with el.setAttribute</li>
					<li>Elements can expose values to the attributes on the element e.g. el.foo</li>

					<li>Elements can be made to watch other elements. E.g.</li>
					<html-encode><template>
						<hello-world listen-to="#someEl"></hello-world>
					</template></html-encode>

					<li>Elements not designed to listen to changes in each other can be patched with JavaScript.</li>
					<html-encode lang="javascript"><template><script>
					document.getElementById('someEl').addEventListener('myevent', function (e) {
						document.getElementById('someOtherEl').setAttribute('foo', e.detail.value);
					});
					</script></template></html-encode>

				</ul>
			</grid-notes>

			<grid-slide el-by-el>
				<h1>Migrating an Existing App</h1>
				<section>
					<img src="images/lego-repair.jpg" alt="Lego Repair by Jan Vormann">
					<h3>Lego Street Repairs by Jan Vormann</h3>
				</section>
			</grid-slide>

			<grid-slide>
				<h1>Article: https://goo.gl/N8J58i</h1>
				<h1>Slide Deck: https://ada.is/grid-slides/components/</h1>
			</grid-slide>



            <grid-notes>
				<dl>
					<dt>What are web components</dt>
					<dd>Encapsulate logic, tied to DOM life cycle</dd>
					
					<dt>What advantages do they provide</dt>
					<dd>Emmet Code `ul>li*3`, Logic Encapsulation, Style Encapsulation, When used one off, when used together</dd>
					
					<dt>Using them today</dt>
					<dd>Polyfill, Shady Dom</dd>
					
					<dt>A case study, VJ-OTG</dt>
					<dd>What did we learn from this?</dd>
					
					<dt>How I use Web Components</dt>
					<dd>HTMLElementPlus</dd>
					
					<dt>Building components that work together</dt>
					<dd></dd>
					
					<dt>Using HTML as the configuration layer</dt>
					<dd></dd>
					
					<dt>Migrating to using web components</dt>
					<dd>Web Components work within existing frame works because they are just HTML.</dd>
					
					<dt>A final case study, look ma no DOM</dt>
					<dd>Using Web Components to wrap three.js</dd>
				</dl>
			</grid-notes>

		</grid-slides-controller>
    </body>
</html>